<div class="content">
    <div class="header">
        <div class="image-container">
            <img class="iconImage" src="assets/chat-icon.png" alt="">
        </div>
    </div>
    <div class="body">
        <app-panel>
            <h1>Iniciar Sesión</h1>
            <app-input [id]="'email'" [iconSource]="'assets/email.svg'" [type]="'email'" [description]="'Correo'"
                (onInputChange)="onInputChange($event)"></app-input>
            <app-input [id]="'password'" [iconSource]="'assets/password.svg'" [type]="'password'"
                [description]="'Contraseña'" (onInputChange)="onInputChange($event)"></app-input>
            <app-action-button [text]="'Entrar'" (action)="onClickLogin()"></app-action-button>
            <a routerLink="/register">No tienes cuenta? Regístrate!</a>
        </app-panel>
    </div>
</div>