<div class="content">
    <div class="header">
        <div class="buttons-container">
            <app-action-button class="input" [text]="'Regresar'" (action)="onClickRegresar()"></app-action-button>
            <app-action-button class="input" [text]="'Cerrar Sesión'" (action)="onClickLogOut()"></app-action-button>
        </div>
        <div class="image-container">
            <img class="iconImage" src="assets/chat-icon.png" alt="">
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <h1>Chat: {{chatName}}</h1>
            <div class="scroll-container">
                <div class="message-item" *ngFor="let message of messages">
                    <div *ngIf="message.sender.nickname!==authService.user.nickname" class="message-left">
                        <app-message-container [nickname]="message.sender.nickname" [body]="message.body"
                            [date]="parseUnixTimestamp(message.date)">
                        </app-message-container>
                    </div>
                    <div *ngIf="message.sender.nickname===authService.user.nickname" class="message-right">
                        <app-message-container [nickname]="message.sender.nickname" [body]="message.body"
                            [date]="parseUnixTimestamp(message.date)">
                        </app-message-container>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input type="text" placeholder="Escribe el mensaje..." [ngModel]="messageText">
                <img src="assets/send.svg" alt="" (click)="sendData()">
            </div>
        </div>
    </div>
</div>