.input-text-container {
    font-family: Arial, Helvetica, sans-serif;
    background: #EDEDED;
    width: 230px;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.input-file-container {
    font-family: Arial, Helvetica, sans-serif;
    background: #EDEDED;
    width: 230px;
    border-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

img {
    width: 25px;
    height: 25px;
}

.input-text-container>input {
    height: 100%;
    width: calc(100% - 75px);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.input-file-container>input {
    width: 0;
    height: 0;
}

span {
    width: 80%;
}

input:focus {
    outline: none;
}