<div class="content">
    <div class="header">
        <div class="buttons-container">
            <app-action-button class="input" [text]="'Regresar'" (action)="onClickRegresar()"></app-action-button>
            <app-action-button class="input" [text]="'Cerrar Sesión'" (action)="onClickLogOut()"></app-action-button>
        </div>
        <div class="image-container">
            <img class="iconImage" src="assets/chat-icon.png" alt="">
        </div>
    </div>
    <div class="body">
        <app-panel>
            <h1>Cambio de Contraseña</h1>
            <app-input [id]="'newpassword'" [iconSource]="'assets/password.svg'" [type]="'password'"
                [description]="'Nueva Contraseña'" (onInputChange)="onInputChange($event)"></app-input>
            <app-input [id]="'oldpassword'" [iconSource]="'assets/password.svg'" [type]="'password'"
                [description]="' Confirmar Contraseña'" (onInputChange)="onInputChange($event)"></app-input>
            <app-action-button [text]="'Cambiar Contraseña'" (action)="onClickActualizar()"></app-action-button>
        </app-panel>
        <app-panel>
            <h1>Cambio de Imagen</h1>
            <div class="upload-image">
                <img *ngIf="uploadSrc!==''" [src]="uploadSrc" alt="">
            </div>
            <app-input [id]="'file'" [iconSource]="'assets/upload.svg'" [type]="'file'" [description]="'Nueva Imagen'"
                (onInputChange)="onInputChange($event)"></app-input>
            <app-action-button [text]="'Subir Imagen'" (action)="onClickActualizarImagen()"></app-action-button>
        </app-panel>
    </div>
</div>